  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <p><strong>Current Week:</strong><br>

          <p>Week's Goal Limit: <input type="text" data-bind="value: weeklyGoal.limit_amount, event:{change:saveCurrentWeeklyGoal.bind($data,weeklyGoal)}" /></p>

          <span class="glyphicon glyphicon-chevron-left" data-bind="click:getDifferentWeek.bind($data,{days_to_add:-7})"></span>
          <span data-bind="text: current_week.full_week"><%= @weekStart.strftime("%m/%d/%Y")%> - <%= @weekEnd.strftime("%m/%d/%Y")%></span>
          <span class="glyphicon glyphicon-chevron-right" data-bind="click:getDifferentWeek.bind($data,{days_to_add:7})"></span>
        </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p><strong>Total Spent:</strong> <span data-bind="text: combinedTotal"></span></p>
          <p><strong>Available:</strong> <span data-bind="text:availableLimit"></span></p>
        </div>
      </div>

    <div class="row">
      <div class="col-sm-12">
        <div id="newTransactionForm">
            <h4>Add New Purchase Transaction</h4>
            <form id="addTransaction" data-bind="submit: addTransaction">
                <div class=' col-sm-4'>
                  <label for="newTransactionDescription">Description</label>
                  <input class="form-control" data-bind="value: newTransactionDescription" placeholder="Description" id="newTransactionDescription">
                </div>
                <div class=" col-sm-2">
                  <label for="newTransactionGrandTotal">Grand Total</label>
                  <input class="form-control" data-bind="value: newTransactionGrandTotal" placeholder="Grand Total" id="newTransactionGrandTotal">
                </div>
                <div class=" col-sm-2">
                  <label for="newTransactionDiscountTotal">Discount Total</label>
                  <input class="form-control" id="newTransactionDiscountTotal" data-bind="value: newTransactionDiscountTotal" placeholder="Discount Total">
                </div>
                <div class=" col-sm-2">
                  <label for="newTransactionTaxTotal">Tax Total</label>
                  <input class="form-control" id="newTransactionTaxTotal" data-bind="value: newTransactionTaxTotal" placeholder="Tax Total">
                </div>
                <div class=" col-sm-2">
                  <label for="newTransactionDate">Transaction Date</label>
                  <input class="form-control" id="newTransactionDate" data-bind="value: newTransactionDate" placeholder="Transaction Date" data-provide="datepicker" data-date-format="mm/dd/yyyy">
                </div>
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-success">Add Transaction</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h5>My Purchase Transactions</h5>
      </div>
    </div>
    <!-- ko foreach:{data:transactions, as: 'transaction'}-->
    <div class="row transaction-container" data-bind="css: { 'even': ($index() % 2 == 0), 'odd': ($index()%2==1) }">
      <div class="col-sm-6">
          <div class="col-sm-12">
            <label>Description</label>
            <input class="form-control" type="text" data-bind="textInput: transaction.description" />
          </div>
          <div class="col-sm-6">
              <label>Grand Total</label>
            <input class="form-control" type="text" data-bind="textInput: transaction.grand_total" />
          </div>
          <div class="col-sm-6">
              <label>Discount Total</label>
            <input class="form-control" type="text" data-bind="textInput: transaction.discount_total" />
          </div>
          <div class="col-sm-6">
            <label>Tax Total</label>
            <input class="form-control" type="text" data-bind="textInput: transaction.tax_total" />
          </div>
          <div class="col-sm-6">
            <label>Transaction Date</label>
            <input class="form-control" type="text" data-provide="datepicker" data-date-format="mm/dd/yyyy" data-bind="formatDate: transaction.transaction_date" />
          </div>
          <div class="col-sm-12 btn btn-info"
          data-bind="{click: $root.toggleDisplayTransactionItems,css:{'no-display':(transaction.transaction_items().length<=0)},if:(transaction.transaction_items().length>0)}">
            Display Items
        </div>
      </div>
      <div class="col-sm-6 transaction-item-container">
        <div class="row">
          <div class="col-xs-12">
            <label>Description</label>
            <input class="form-control" type="text" data-bind="{textInput: transaction.tiDescription,event: {keyup: $root.addTransactionItem}}" />
          </div>
          <div class="col-xs-6">
            <label>Grand Total</label>
            <input class="form-control" type="text"  data-bind="{textInput: transaction.tiGrandTotal,event: {keyup: $root.addTransactionItem}}" />
          </div>
          <div class="col-xs-6">
            <label>Discount Total</label>
            <input class="form-control" type="text"  data-bind="{textInput: transaction.tiDiscountTotal,event: {keyup: $root.addTransactionItem}}" />
          </div>
          <div class="col-xs-6">
            <label>Tax Total</label>
            <input class="form-control" type="text"  data-bind="{textInput: transaction.tiTaxTotal,event: {keyup: $root.addTransactionItem}}" />
          </div>
        </div>
        <div class="transaction-item-collection" data-bind="if:(transaction.toggle_transaction_items()==true)">
        <div class="col-xs-12 text-center">Items Purchased</div>

        <div data-bind="foreach: {data: transaction.transaction_items, as: 'transaction_item'}">
          <div class="row">
            <div class="col-sm-10">
              <div class="col-sm-6">
                <label>Description</label>
                <input class="form-control" type="text" data-bind="{textInput: transaction_item.description,event: {keyup: $root.updateTransactionItem}}"/>
              </div>
              <div class="col-sm-6">
                <label>Grand Total</label>
                <input class="form-control" type="text" data-bind="{textInput: transaction_item.grand_total,event: {keyup: $root.updateTransactionItem}}"/>
              </div>
              <div class="col-sm-6">
                <label>Discount Total</label>
                <input class="form-control" type="text" data-bind="{textInput: transaction_item.discount_total,event: {keyup: $root.updateTransactionItem}}" />
              </div>
              <div class="col-sm-6">
                <label>Tax Total</label>
                <input class="form-control" type="text" data-bind="{textInput: transaction_item.tax_total,event: {keyup: $root.updateTransactionItem}}" />
              </div>
            </div>
            <div class="col-sm-2">
              <button
              data-bind="click:$root.deleteTransactionItem.bind($data,{transaction: transaction,transaction_item: transaction_item})"
              class="glyphicon glyphicon-remove btn btn-danger"></button>
            </div>
          </div>
        </div><!-- end data bind foreach -->

        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- end foreach loop transactions -->

    </div>
  </section>
